<div class="prod-card">
  <div class="card-header flex-row align-items-center">
    <div class="date">
      <%time = (Time.now - prod.created_at)  %>
      <% if time < 60 %>
        <%= "#{time.floor(0)} seconds ago" %>
      <% elsif time < 60*60 %>
        <%= "#{(time/60).floor(0)} minutes ago" %>
      <% elsif time < 60*60*24 %>
        <%= "#{(time/60/60).floor(0)} hours ago" %>
      <% else %>
        <%= "#{(time/60/60/24).floor(0)} days ago" %>
      <% end %>
    </div>
  </div>
  <div class="prod-content">
      <h2> <%= prod.category.name %> </h2>
      <%= prod.product_picture %>
      <h3> <%= prod.product_title %> </h3>
      <%= prod.product_condition %>
      <%= prod.product_description %>
      <br>
      <br>
  </div>
</div>
